<div id="login">
  <div class="inner">
    <!-- Main -->
    <div id="main">
      <form #form (submit)="onSubmit(form)" style="justify-content: center; margin: auto; padding: max(5%)">
          <div>
            <label> Email :
              <input #mail [(ngModel)]="credentials.email" [class]="{'invalid' : !mail.checkValidity()}"
                     name="email" required type="email">
              @if (!mail.checkValidity ()) {
                <p>Email invalide</p>
              }
            </label>
          </div>
          <div>
            <label> Password :
              <input #pass [(ngModel)]="credentials.password" [class.invalid]="!pass.checkValidity()"
                     minlength="6" name="pass" required type="password">
              @if (!pass.checkValidity ()) {
                <p>Mot de passe invalide</p>
              }
            </label>
          </div>
          <div  style="text-align: center">
            <input [disabled]="!form.checkValidity()" type="submit" value="Se Connecter">
          </div>
      </form>
      <div  style="text-align: center;">
        <button (click)="this.handleRegister()" value="S'inscrire">S'inscrire</button>
      </div>
    </div>
  </div>
</div>
